@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url('./pexels-sare-akın-70182622.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.container{
    min-height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
/* --------------NAVBAR----------------------- */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
@media only screen and (min-width: 520px ) {
    .navbar{
        padding: 3em 6em;
    }
}
.logo-img{
    width: 100px;
}

.navmenu{
    display: none;
}
@media only screen and (min-width: 520px ) {
    .navmenu{
        display: block;
    }
}

.nav-item-link{
    margin-left: 3em;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 520px ) {
    .nav-item-link{
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.nav-toggle{
    display: block;
}
.nav-toggle-input,
.nav-toggle-icon{
    position: absolute;
    right: 1em;
}
.nav-toggle-input{
    display: none;
}

@media only screen and (min-width: 520px ) {
    .nav-toggle-input,
    .nav-toggle-icon{
        display: none;
    }
}

/* @media only screen and (max-width: 520px ) { */
#nav-toggle-input:checked ~ .navmenu{
    display: flex;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top:0;
    /* top:2.5em; */
    left: 0;
    min-height: 100vh;
}
/* } */

.navmenu .fa-close{
    float: right;
    margin: 2em;
    display: none;
}
@media only screen and (max-width: 520px ) {
    .navmenu .fa-close{
        display: block;
    }
}
    
/* -----------------LANDING--------------------     */
.landing{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    text-align: center;
}
.landing h1, .landing h2{
    margin: 0.2em;
}
.landing h1{
    font-size: 65px;
    font-family: 'Ma Shan Zheng', cursive;
    letter-spacing: 0.4em;
}
.landing h2{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.25em;
}
.landing hr{
    width: 100px;
    color: #fff;
}


/* ------------------- About Section --------------------  */
.about{
    display: none;
    background-color: rgb(0, 0, 0);
    position: fixed;
    min-height: 100vh;
    opacity: 0.9;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
@media only screen and (min-width: 520px ) {
    .about{
        margin: 2em;
        padding: 2em;
    }
}
.about.open{
    display: block;
}

/* ------------------- Categories Section --------------------  */
.categories{
    display: none;
    background-color: rgb(0, 0, 0);
    position: fixed;
    min-height: 100vh;
    opacity: 0.9;
    margin: 1em;
    padding: 1em;
    text-align: center;
}
@media only screen and (min-width: 520px ) {
    .categories{
        margin: 2em;
        padding: 2em;
    }
}
.categories.open{
    display: block;
}

.close-icon-row{
    display: flex;
    justify-content: end;
}

.pointer{
    cursor: pointer;
}